.content-user,
.contentUser {
  padding: 7em 0;
  display: flex;
  justify-content: center;
}

.content-user form,
.contentUser form {
  width: 100%;
  max-width: 600px;
  color: #3f3f3f;
}

.content-user form input {
  font-size: 1.1rem;
  background-color: transparent;
  border-color: #2d2f31;
  padding-left: 16px;
}
.content-user form input:focus {
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .content-user,
  .contentUser {
    padding: 4em 0;
  }
  .content-user #btn-altera-senha {
    width: 100%;
  }
  .content-user form p {
    display: none;
  }
}
