.bar {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1rem;
    height: max-content;
}

.stars {
    width: 78px;
}

.ratingBarBg {
    background-color: #f0f0f0;
    width: 200px;
    height: 10px;
    border-radius: 16px;
}
@media (max-width: 1024px) {

    .bar{
        font-size: .9rem;
    }

    .ratingBarBg{
        width: 90%;
    }
    
}