.cardResumo {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5em;
  height: fit-content !important;
  width: 28%;
}

.titleResumo {
  text-align: center;
  padding: 0 1.5em;
  padding-top: 2em;
  border-bottom: 1px solid var(--cinza);
}

.infoResumo span {
  min-height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
  padding: 0.8em 1.5em;
  border-bottom: 1px solid var(--cinza);
}

#calculaFrete {
  width: 65%;
}

.infoResumo span p {
  margin: 0;
}

.spanTotal p {
  color: var(--preto);
  font-weight: 500;
  font-size: 1.3em;
}

#areaBtn {
  margin-top: 1.5em;
  padding: 0 1.5em;
}

#areaBtn button {
  width: 100%;
}

@media (width <= 992px) {
  .cardResumo {
    width: 100%;
    order: 1;
  }
  .infoResumo span {
    padding: 0.8em 7em;
  }
  #areaBtn {
    padding: 0 7em;
  }
}
@media (width < 768px) {
  #calculaFrete {
    width: 50%;
  }
  .infoResumo span {
    padding: 0.8em 1.5em;
  }
  #areaBtn {
    padding: 0 1.5em;
  }
}
