.areaBanner {
    padding: 3.5em 0;
}

.areaBanner h5 {
    font-weight: bolder;
    color: #383838;
}

.carrossel {
    margin-top: 3em;
    height: auto;
    max-height: 371px;
}

.carrossel img {
    width: 100%;
}