.navbarContainer {
  position: relative;
}

.navbar {
  height: 40px;
  width: 100%;
  background-color: var(--preto-secundario);
  display: flex;
  justify-content: center;
  padding-top: 6px;
  gap: 1.8em;
}

.navbar a, .categorias {
  color: white;
  height: min-content;
  font-size: 15px;
  cursor: pointer;
}

.navbar .active {
  color: var(--preto);
  background-color: var(--laranja);
  padding: 0 0.8em;
  border-radius: 6px;
  border: 1px solid var(--preto);
}

.arrowIcon {
  margin-left: 5px;
}

.dropdownHidden {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
  max-height: 0;
  transition: opacity 0s, max-height 0s;
}

.dropdownVisible {
  border-top: 1px solid var(--cinza-secundario);
  opacity: 1;
  max-height: 200px;
  transition: opacity 0.3s, max-height 0.3s;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--preto-secundario);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.dropdownContent {
  padding: 15px;
}

.categoryList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1em 0.5em;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.categoryList li {
  text-align: center;
  color: white; 
  cursor: pointer; 
  background-color: var(--preto-secundario); 
  border-bottom: 1px solid var(--preto-secundario);
  transition: border-bottom 0.4s; 
}

.categoryList li:hover {
  border-bottom: 1px solid var(--cinza-secundario);
}