.areaBanner {
    padding: 3.5em 0;
}

.areaBanner h5 {
    font-weight: bolder;
    color: #383838;
}

.areaBanner img {
    margin-top: 3em;
    width: 100%;
}
/* 
.cardSombra {
    position: relative;
    width: 100%;
    height: 260px;
    background-color: #383838;
    border-radius: 16px;
}

.bannerDestaque {
    position: absolute;
    width: 100%;
    height: 260px;
    bottom: 18px;
    right: -12px;
    color: #fff;
    background: linear-gradient(to right, #e01038, #c2001a);
    padding: 1em 2em;
    padding-bottom: 3em;
    border-radius: 16px;
} */