.gridProdutos {
    padding: 3em 0;
  }
  
  .gridProdutos h5 {
    font-weight: bolder;
    color: #383838;
    margin-bottom: 3em;
  }
  .areaProdutos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
    gap: 25px;
  }
  
  .areaProdutos h5 {
    font-weight: bolder;
    color: #383838;
  }
  
  .loadItens {
    color: #383838;
    width: fit-content;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 0;
    padding-bottom: 0.2em;
    border-bottom: 1px solid transparent;
  }
  
  .loadItens:hover {
    border-bottom: 1px solid var(--cinza-secundario);
  }

  @media (width <= 768px) {
    .gridProdutos h5 {
      margin-bottom: 1.5em;
    }
  }
  