.card{
    width: 170px;
    height: 150px;
    background-color: #F7FAFF;
    padding: 16px 12px;
    border-radius: 10px;
    margin-right: 10px;
}

.card span{
    font-size: 1.5rem;
    font-weight: 600;
}

.card p {
    font-size: 0.875rem;
    font-weight: 500;
}
