.containerCart {
  background-color: var(--cinza);
  min-height: 100vh;
}

.contentCart {
  padding-top: 3em;
  display: flex;
  justify-content: space-between;
}

.cardItensCarrinho {
  display: flex;
  flex-direction: column;
  padding: 2em 1.5em;
  height: fit-content !important;
  width: 100%;
  gap: 1em;
}

.sectionItensCarrinho {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 70%;
}

.titleCarrinho {
  display: flex;
  align-items: end;
  justify-content: space-between;
  border-bottom: 2px solid var(--cinza);
}

.titleCarrinho p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--cinza-secundario);
}

.cardItensCarrinho .cardEndereco:hover {
  background-color: #f3f3f3;
}
.cardEndereco {
  min-height: 60px;
}
.cardEndereco > div label {
  cursor: pointer;
  font-size: 1.1em;
  height: 60px !important;
  align-items: center;
}

.cardEndereco form {
  margin-left: 29px;
  border-top: 1px solid rgba(0, 0, 0, 0.175);
}

.radioSelected {
  background-color: #f3f3f3 !important;
}

.radioSelected > div label {
  font-weight: 600;
}
/* resumo pedido */
.cardResumo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  padding: 2em 1.5em;
  height: fit-content !important;
  width: 28%;
}

.titleResumo,
.infoResumo {
  border-bottom: 2px solid var(--cinza);
}
.infoResumo span {
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
}

.spanTotal p {
  color: var(--preto);
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 8px;
}

.cardResumo2 {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding-bottom: 2em;
  height: fit-content !important;
  width: 28%;
}
.titleResumo2 {
  padding: 2em 1.5em;
  color: #d6d6d6;
  border-bottom: 2px solid var(--cinza);
}
.titleResumo2 h5 {
  margin: 0;
}
#textoSemProduto {
  padding: 0 1.5em;
  font-size: 13px;
  margin: 0;
  color: #d6d6d6;
}

#editar {
  cursor: pointer;
}

#editar:hover {
  color: #0051ca !important;
}

@media (width <= 992px) {
  .contentCart {
    flex-direction: column;
    gap: 1em;
    padding-bottom: 1em;
  }

  .sectionItensCarrinho {
    width: 100%;
  }
  .sectionItensCarrinho a {
    display: none;
  }
  .cardResumo {
    width: 100%;
  }

  .textCard {
    font-size: 14px;
  }
  .cardEndereco > div label {
    height: 70px !important;
  }
  .cardEndereco form {
    margin-left: 0;
    padding-right: 0;
    width: 100%;
  }
   .cardEndereco form button{
    width: 100% !important;
  }

  .cardEndereco form div div {
    min-width: 100%;
  }
  .cardEndereco form div div:first-child {
    margin-bottom: 1em;
  }
}
