.boxAvaliation{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    width: 75%;
}
.boxAvaliation span, .boxAvaliation p{
    color: #000;
}
.boxAvaliation h6 span {
    font-size: 0.9em;
}
.lineAvaliation{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxAvaliation p{
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}
.lineAvaliation p{
    padding: 0;
    margin: 0;
}
.avaliacao-estrelas {
    display: flex;
    font-size: 1.5em;
    gap: 5px;
}

/* .carrosselImagens{
    position: absolute;
    top: -110px;
    padding: 0.5em !important;
} */

.carrosselImagens{
    display: flex;
    margin-bottom: 20px;
    background-color: tomato;
    max-width: 80vw;
}

.carrosselImagens img{
    width: 100%;
}

.boxImg{
    display: flex;
    gap: 12px;
}

.img{
    width: 100px;
}