.areaTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3em;
}

.areaTop p {
  font-size: 3em;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--cinza-secundario);
}
.areaTop p svg {
  margin-top: 0.2em;
  font-size: 0.8em;
  cursor: pointer;
}

.areaTabela {
  margin-top: 3em;
  height: 477px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}
.areaTabela table {
  margin-bottom: 0;
}
.areaTabela p {
  font-size: 3em;
  margin-bottom: 0;
}

.areaTabela ul {
  margin-bottom: 0;
}

